.about {
  display: grid;
  grid-template-areas: 
    "description"
    "skills"
    "contact";
  padding: 2em;
}

.contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;

  gap: var(--small);
}

.contacts {
  display: flex;
  gap: var(--small);
}

.contacts img {
  width: var(--xlarge);
}

.description {
  grid-area: description;
  background-color: var(--light);

  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 0 0 10px var(--dark);
  text-align: center;
}

.skills {
  grid-area: skills;
  margin-bottom: 2em;
}

.skills ul {
  list-style-type: none;
}

.skills li {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--light);
  box-shadow: 1px 1px 4px var(--dark);
}

.description h2 {
  font-size: var(--large);
  line-height: var(--small);
  margin-bottom: 1em;
}

.description h3 {
  font-size: var(--medium);
  line-height: var(--small);
}

@media only screen and (min-width: 768px) {
  /* tablet */

  .about {
    grid-template-areas:
      "description description"
      "contact skills";
  }

  .skills {
    padding: 2em 0 2em 2em;
    margin-bottom: 0;
  }

  .contact {
    padding: 2em 2em 2em 0;
  }
}