.corner {
  display: flex;
  flex-direction: column;

  margin-top: calc(var(--border-margin) / 2);
  margin-right: var(--border-margin);
  margin-bottom: calc(var(--border-margin) / 2);
  margin-left: var(--border-margin);
}

.about {
  z-index: 1;
  height: 100%;
  border: var(--border-width) solid var(--border-color);
  border-top: none;
  border-right: none;
  background-color: var(--background-color);
}

.connector {
  margin-top: calc(-0.5 * var(--border-margin));
  height: calc(var(--border-margin) / 2 + var(--border-width));

  border-left: var(--border-width) solid var(--border-color);
  border-right: var(--border-width) solid var(--border-color);
}