html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);

  background-image: url("/hand.png");
  background-size: clamp(900px, 75%, 100px);
  background-repeat: no-repeat;
  background-position: top;
}

.app-wrapper {
  max-width: 1100px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) { /* tablet */

  .app-wrapper {
    margin: calc(var(--border-margin) / 4) calc(var(--border-margin) / 2);
    border: var(--border-width) solid var(--border-color);
  }
  
}

@media only screen and (min-width: 1000px) { /* desktop */

  .app-wrapper {
    margin: calc(var(--border-margin) / 2) var(--border-margin);
    border: var(--border-width) solid var(--border-color);
  }

}

@media only screen and (min-width: 1350px) { /* larger than normal */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-wrapper {
    width: 1100px;
  }
}