:root {
  --border-margin: 8em;
  --border-width: 2px;

  --lightest: #EEEEEE;
  --light: #CCCCCC;
  --middle: #999999;
  --dark: #666666;
  --darkest: #333333;

  --background-color: var(--light);
  --border-color: var(--darkest);
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);


  background-image: url("hand.png");
  background-size: clamp(900px, 75%, 100px);
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: normal;
  /* background-image: url("hand.png"), url("abstract.png");
  background-size: clamp(900px, 75%, 100px), max 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom left;
  background-blend-mode: normal, exclusion; */
}

.app-wrapper {
  margin: calc(var(--border-margin) / 2) var(--border-margin);
  border: var(--border-width) solid var(--border-color);
}