*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-margin: 2em;
}

*, *::before, *::after {
  margin: 0;
}

.App {
  height: calc(200vh - var(--border-margin) * 2);
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}