.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 15vh;
  margin-bottom: 15vh;
}

.contacts {
  display: flex;
  gap: var(--small);
}

.contacts img {
  width: var(--xlarge);
  transition: opacity 0.5s;
}

.contacts img:hover {
  opacity: 65%;
}

.contact h2 {
  font-size: var(--large);
}