.hero {
  position: relative;
  display: flex;
  flex-direction: column;

  scroll-snap-align: end;

  height: calc(100vh);
}

.name, .title {
  margin: 2em;
}

.description {
  position: absolute;

  width: 15rem;
  right: 2rem;
  bottom: 2rem;  
}

h1, h2, p {
  color: var(--darkest);
  text-shadow: 2px 2px 4px var(--light), 2px 2px 4px var(--light), 2px 2px 4px var(--light);
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2, p {
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
/* tablet */

  .hero {
    height: calc(100vh - var(--border-margin) / 4);
  }
}

@media only screen and (min-width: 1000px) {

  /* desktop */
  .hero {
    height: calc(100vh - var(--border-margin) / 2)
  }

}