.hero {
  position: relative;
  display: flex;
  flex-direction: column;

  height: calc(100vh - var(--border-margin) / 2);
}

.name, .title {
  margin: 2em;
}

.description {
  position: absolute;

  width: 15rem;
  right: 2rem;
  bottom: 2rem;  
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}