:root {
  --border-margin: 8em;
  --border-width: 2px;

  --lightest: #DDDDDD;
  --light: #CCCCCC;
  --middle: #999999;
  --dark: #444444;
  --darkest: #222222;

  --base: 0.8em;
  --xsmall: calc(var(--base) * 1);
  --small: calc(var(--base) * 1.25);
  --medium: calc(var(--base) * 1.5);
  --large: calc(var(--base) * 3);
  --xlarge: calc(var(--base) * 4);

  --background-color: var(--lightest);
  --border-color: var(--darkest);
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animated-entrance {
  animation-duration: 0.5s;
  animation-name: animate-entrance;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (min-width: 768px) {
  /* tablet */
  :root {
      --base: 1em;
    }
}

@keyframes animate-entrance {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}