.navbar {
  position: sticky;
  height: 0;
  top: calc(50% - var(--border-margin) / 2);
}

.navlist {
  list-style-type: none;  
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.left {
  width: fit-content;
  direction: rtl;
  margin-left: calc(var(--border-margin) / 8);
}

.right {
  direction: ltr;
  margin-left: -8em;
}

a {
  font-size: 1.5rem;
  cursor: pointer;
}