.project {
  min-width: 100%;
  min-height: 100%;

  padding: 2em;
  scroll-snap-align: start;
}

.name {
  display: flex;
  justify-content: center;
}

img {
  width: 60%;
}

h3 {
  display: inline-block;
  border-bottom: 2px solid black;
}