.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 60% 15%;
  min-width: 100%;
  min-height: 100%;

  padding: 2em;
  scroll-snap-align: start;
}

.name {
  display: flex;
  justify-content: center;

  font-size: var(--xlarge);
}

.description-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}

.links {
  display: flex;
  justify-content: center;

  gap: var(--medium);
}

.project h4 {
  font-size: var(--medium);
  line-height: var(--medium);
}

.project li {
  font-size: 1.15em;
}

.project li:not(:last-child) {
  margin-bottom: 0.25em;
}

.project img {
  width: var(--xlarge);
}

@media only screen and (min-width: 768px) {
  /* tablet */

  .description-wrapper {
    gap: 4em;
  }

}